/*
Palette:
    bg: #FFEEDB
    txt: #ADA8B6
    txt2: #D6CBC9
    btn: #4C3B4D

*/
.center{
    display: flexbox;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
body{
    background-color: #ffebdb;
}
h1{
    font-family: Arial, Helvetica, sans-serifa;
    color: #ADA8B6;
}
h2{
    font-family: Arial, Helvetica, sans-serifa;
    color: #D6CBC9;
    font-size: 100px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #bdaead;
}
button{
    border-radius: 10%;
    width: 60px;
    background-color: #4C3B4D;
    transition: background-color border-radius ease-in-out 1000ms;
    border: none;
    color: white;
}
button:hover{
    background-color: #3b2e3b;
    border-radius: 2%;
}